.primeira-foto{
    position: relative;
    width: 24%;
    left: 20px;
    margin-top: 5%;
    box-shadow: 1px 3px 2px #866512;
}

.legenda1-blog{
    position: absolute;
  z-index: 2;
  top: 85%;
  left: 3%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  text-stroke: 1px #B31748;
  -webkit-text-stroke: 1px #B31748;
  color:#B31748;
  
}
.legenda2-blog{
    position: absolute;
  z-index: 1;
  top: 85%;
  left: 28%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  text-stroke: 1px #B31748;
  -webkit-text-stroke: 1px #B31748;
  color:#B31748;
  
}

.segunda-foto{
    position: relative;
    width: 24%;
    left: 30px;
    margin-top: 5%;
    box-shadow: 1px 3px 2px #866512;
}

.terceira-foto{
    position: relative;
    width: 24%;
    left: 40px;
    margin-top: 5%;
    box-shadow: 1px 3px 2px #866512;
}

.legenda3-blog{
    position: absolute;
  z-index: 1;
  top: 85%;
  left: 53%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  text-stroke: 1px #B31748;
  -webkit-text-stroke: 1px #B31748;
  color:#B31748;
  
}

.quarta-foto{
    position: relative;
    width: 24%;
    left: 50px;
    margin-top: 5%;
    box-shadow: 1px 3px 2px #866512
}

.legenda4-blog{
    position: absolute;
  z-index: 1;
  top: 85%;
  left: 78%;
  font-size: 25px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-stroke: 1px #B31748;
  -webkit-text-stroke: 1px #B31748;
  color:#B31748;
}

.legenda1-blog:hover{
    color:#B31748
}
.legenda2-blog:hover{
    color:#B31748
}
.legenda3-blog:hover{
    color:#B31748
}
.legenda4-blog:hover{
    color:#B31748
}

#post1{
    display: flex;
    flex-direction: column;
    width: 80%;
    color: #866512;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 100px;
    margin-top: 10%;
    margin-left: 10%;
    background-color: rgba(179, 164, 141, 0.2);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin-bottom: 10%;
    height: 85vh;
}



#texto-post{
    font-size: 18px;
    width: 50%;
    overflow: hidden;
    margin-left: 3%;
    
}
#titulo-post{
    display: flex;
    margin-left: 25%;
   margin-top: 3%;
}

#img-post1{
    height: 33vh;
    top:127%;
    position: absolute;
    border-radius: 30%;
    overflow: hidden;
    margin-left: 10%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

#img2-post1{
    height: 33vh;
    top:127%;
    position: absolute;
    border-radius: 30%;
    overflow: hidden;
    margin-left: 28%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

#img3-post1{
    height: 33vh;
    top:167%;
    position: absolute;
    border-radius: 30%;
    overflow: hidden;
    margin-left: 28%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

#img4-post1{
    height: 33vh;
    top:167%;
    position: absolute;
    border-radius: 30%;
    overflow: hidden;
    margin-left: 10%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}