*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
header{
  position:fixed;
  justify-content: space-evenly;
  z-index: 999;
  width: 100%;
}

nav{
  width: 100%;
  display: fixed;
  background-color: #DDA0DD;
  margin-top: 0%;
  height: 14vh;
  box-shadow: 1px 3px 4px #866512;
  
  
}

.logo{
  width: 13vw;
  position:relative;
}
.index-menu{
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  margin-top: 0%;
}

.index-menu li{
  height: 50%;
  list-style: none;
  display: inline-block;
  padding-left: 0%;
  justify-content: space-evenly;
  margin-right: 1.5vw;
  margin-left: 0%;
}




.index-menu a{
  
  height: 15vh;
  color:#866512 ;
  text-decoration: none;
  display:flex;
  align-items: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight:bold;
  font-size:2vw;
} 
div.botoes_central{
  position:relative;
  justify-content: space-evenly;
  display: flex;
  text-decoration: none;
  right: 3%;
  
}




.index-menu li:hover > a{
  color:#B31748;
  
}



#icones{
  position: fixed;
  bottom: 10%;
  right: 8%;
  z-index: 999;
  text-decoration: none;
}

#fixos{
  display: inline-block;
  width: calc(50% - 2px); 
  text-align: center;
  color: #866512 ;
}

#fixos:hover{
  color: #B31748;
}

#foto_carrossel{
  width: 100%;
  height: 100% ;
  object-fit: contain;
  object-position: center;
}

#legenda-foto{
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 0;
  color: #fff;
  padding: 1%;
  font-family: 'PT Sans Narrow', sans-serif;
  top:50%;
  font-size: 2vw;
  
}

.legenda-button:hover{
  color:#B31748;
}

.legenda-button{
  text-stroke: 1px #DDA0DD;
  -webkit-text-stroke: 1px #DDA0DD;
  color:#866512;
}

#meu-carrossel{
  position: fixed;

}


